.dmypy.json
VERSION
calendar-*.html
*~
*.py[oc]
*.pywc
.cache
.cdtproject
.cproject
.project
.pydevproject
.metadata
.settings
build
dist
screenshots
.hidden
*.deb
*.rpm
*.spec
*.pkg.tar*
*.txz
*.tar.gz
PKGBUILD
google-api-python-client
oauth2client
.[Tt]rash*
/result

imports_from_set.json
imports_set.json
module-attrs.json

mypy-analyzer.*

/bson/bson/tests
/bson/test.py
/bson/.travis.yml
