*~
*.py[oc]
*.pywc
.cache
.cdtproject
.cproject
.project
.pydevproject
.metadata
.settings
build
dist
debian
screenshots
.hidden
*.deb
*.rpm
*.spec
*.pkg.tar*
PKGBUILD
scal2
ui_qt
pixmaps_qt
starcal2-qt
starcal2-qt.pyw
plugins/pray_times_files/pray_times_qt.py
google-api-python-client
oauth2client
.[Tt]rash*
/result

/bson/bson/tests
/bson/test.py
/bson/.travis.yml
