*~
*.py[oc]
*.pywc
.cache
.cdtproject
.cproject
.project
.pydevproject
.metadata
.settings
build
dist
debian
.hidden
*.deb
*.rpm
*.spec
*.pkg.tar.xz
PKGBUILD
scal2
scal3
ui_qt
pixmaps_qt
starcal2-qt
starcal2-qt.pyw
plugins/pray_times_files/pray_times_qt.py
google-api-python-client
oauth2client
.[Tt]rash*
